# Byte-compiled files and directories
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE configurations (optional, based on your setup)
.vscode/
.idea/
*.swp

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# Latex code for project report
Latex_IS_Report.txt